.container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cover {
    min-width: 350px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover > div {
    margin: .3rem;
}

.details {
    min-width: 400px;
    margin-left: 1rem;
}

.name {
    padding: .1rem;
    margin: .1rem;
}

.tab {
    max-width: 50rem;
    text-align: left;
    overflow-wrap: break-word;    
    height: auto;
}