.booksList {
  margin: 64px 0;
}

.booksListItem {
  border: 1px solid #eaeaea;
  padding: 1rem;
  margin: 1rem;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.booksListItemImage {
  padding: .2rem !important;
}

.booksListItemText {
  width: fit-content;
  padding: .2rem;
}

.booksListItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
    
}

.booksListItemSubtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  max-height: 3.6em;
  line-height: 1.8em;
  word-wrap: break-word;
}

.booksListPagination {
  position: fixed;
  width: 100%;
  bottom: 0;
  /* margin-top: 60px; */
  z-index: 100;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  padding: 1rem;    
}

.booksListPagination > button,
.booksListSearch > button, 
.booksListFormatFilter > div {
  background: none !important;
  backdrop-filter: blur(15px);
}

.booksListFormatFilter {
  min-width: 10rem;
}

.booksListSearch {
  position: fixed;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(5px);  
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
}

.booksListSearch > * {
  margin-top: .3rem;
}

.booksListSearch > div > input {
  background-color: #e1f5dc !important;
}

.booksListSearchInput {
  min-width: 30rem;
}
  