.container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cover {
    min-width: 350px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover > div {
    margin: .3rem;
}

.details {
    min-width: 400px;
}

.name {
    padding: .5rem;
    margin: .5rem;
    max-width: 35rem;
}

.summary {
    padding: .4rem;
    max-width: 50rem;
    text-align: left;
    overflow-wrap: break-word;    
    height: auto;
}