.modal {
    min-height: 30rem;
    max-height: 40rem;
    min-width: 20rem;
    max-width: 50rem;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5rem auto;
    background-color: rgb(237, 250, 212);
}